body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.red-square {
    background-color: red;
}

.green-square {
    background-color: greenyellow;
}
